@if(!isDialog) {
  <h2>Authors</h2>
}

<div class="filter-container">
  <mat-form-field class="filter-item">
    <mat-label>Author</mat-label>
    <input matInput [formControl]="authorFieldFilter" placeholder="Enter author name">
  </mat-form-field>

  @if(!isDialog) {
    <mat-checkbox class="filter-item" [formControl]="isDeletedFieldFilter">Show Deleted</mat-checkbox>
  }

  <button mat-raised-button color="primary" class="filter-item" (click)="onClickSearch()">Search</button>
  @if(!isDialog) {
    <button mat-raised-button color="primary" class="new-button" (click)="onClickNewAuthor()">
      <mat-icon>add</mat-icon> New
    </button> 
  }
</div>

<div class="table-container">
  <table mat-table [dataSource]="authorTableDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let author"> {{ author.name }} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
      <td mat-cell *matCellDef="let author"> {{ author.dateOfBirth | date:'yyyy-MM-dd' }} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let author"> {{ author.createdDate | date:'yyyy-MM-dd' }} </td>
    </ng-container>

    <ng-container matColumnDef="modifiedDate">
      <th mat-header-cell *matHeaderCellDef> Modified Date </th>
      <td mat-cell *matCellDef="let author"> {{ author.modifiedDate | date:'yyyy-MM-dd' }} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let author">
        @if(isDialog) {
          <button mat-button color="primary" matTooltip="Select Author" (click)="onClickSelectAuthor(author)">
            <mat-icon>check</mat-icon>
          </button>
        }
        @else {
          <button mat-icon-button color="primary" matTooltip="Edit Author" (click)="onClickUpdateAuthor(author.id)">
            <mat-icon>edit</mat-icon>
          </button>
          @if(!author.isDeleted) {
            <button mat-icon-button color="primary" matTooltip="Delete Author" (click)="onClickDeleteAuthor(author.id)">
              <mat-icon>delete</mat-icon>
            </button>
          }
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="authorTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: authorTableColumns;"></tr>
  </table>
</div>

<div class="paginator-container">
  <mat-paginator [length]="authorTableTotalRecords" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
  </mat-paginator>
</div>