::ng-deep mat-dialog-content {
    height: 75vh !important;
    max-height: 80vh !important;
    display: flex;
    flex-direction: column;
}

::ng-deep app-author-list {
    flex-grow: 1;
    overflow: auto;
}