<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    mode="side"
    [opened]="true"
    [class.collapsed]="!isExpanded"
    >
      <div class="menu-header" (click)="toggleSidebar()">
          <mat-icon>store</mat-icon>
          @if (isExpanded) {
              <span>Library Management</span>
          }
      </div>
      <div class="nav-content">
          <mat-nav-list>
              <a mat-list-item [routerLink]="'/books'" routerLinkActive="active">
                  <mat-icon>auto_stories</mat-icon>
                  @if (isExpanded) {
                      <span class="mat-icon-text">&nbsp;Books</span>
                  }
              </a>
              <a mat-list-item [routerLink]="'/categories'" routerLinkActive="active">
                  <mat-icon>category</mat-icon>
                  @if (isExpanded) {
                      <span class="mat-icon-text">&nbsp;Categories</span>
                  }
              </a>
              <a mat-list-item [routerLink]="'/authors'" routerLinkActive="active">
                  <mat-icon>folder_shared</mat-icon>
                  @if (isExpanded) {
                      <span class="mat-icon-text">&nbsp;Authors</span>
                  }
              </a>
          </mat-nav-list>
      </div>
      <div class="logout-container">
          <a mat-list-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              @if (isExpanded) {
                  <span class="mat-icon-text">&nbsp;Logout</span>
              }
          </a>
      </div>
  </mat-sidenav>

  <mat-sidenav-content
      [ngClass]="{'collapsed-content': !isExpanded}"
      [ngStyle]="{'margin-left': isExpanded ? '200px' : '60px'}">
      <div class="page-container">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>